.product__rating {
  display: flex;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  background-color: white;
  z-index: 1;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}
.product__image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}

.product__star {
  color: yellow;
}

.product__snackbar {
  padding-top: 20px;
}
.message {
  font-size: large;
}
