.subtotal {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal__button {
  width: 100%;
  height: 30px;
  border-radius: 2px;
  color: #111;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
